<form [formGroup]="inputForm" #formDir="ngForm" (ngSubmit)="onAddTodo(inputForm.value)">
  <input placeholder="What needs to be done" formControlName="title" class="todo-input">
  <div *ngIf="title.invalid && (title.dirty || title.touched)" class="error-msg">
    <div *ngIf="title.errors.required">
      Title is required
    </div>
    <div *ngIf="title.errors.pattern">
      Title cannot contain special characters
    </div>
  </div>

  <input placeholder="Description" formControlName="description" class="todo-input">
  <div *ngIf="description.invalid && (description.dirty || description.touched)" class="error-msg">
    <div *ngIf="description.errors.required">
      Description is required
    </div>
    <div *ngIf="description.errors.maxlength">
      Too Long!
    </div>
  </div>
  <div style="text-align: center">
    <button *ngIf="inputForm.invalid; else successSubmit" class="btn btn-danger" [disabled]="inputForm.invalid">
      Submit
    </button>
    <ng-template #successSubmit>
      <button type="submit" class="btn btn-success">Submit</button>
    </ng-template>
  </div>
</form>


<div class=" todo-item" *ngFor="let todo of handleTodosFiltered()" @fade>
  <div class="todo-item-left">
    <input type="checkbox" [(ngModel)]="todo.completed" />
    <div *ngIf="!todo.editing; else editingTodoTitle" class="todo-item-label" [ngClass]="{ completed: todo.completed }"
      (dblclick)="onEditTodo(todo)">
      {{ todo.title }}
    </div>
    <ng-template #editingTodoTitle>
      <input type="text" class="todo-item-edit" [(ngModel)]="todo.title" (keyup.enter)="onDoneEdit(todo)"
        (keyup.esc)="onCancelEdit(todo)" />
    </ng-template>

    <div *ngIf="!todo.editing; else editingTodoDescription" class="todo-item-label"
      [ngClass]="{ completed: todo.completed }" (dblclick)="onEditTodo(todo)">
      {{ todo.description }}
    </div>
    <ng-template #editingTodoDescription>
      <input type="text" class="todo-item-edit" [(ngModel)]="todo.description" (keyup.enter)="onDoneEdit(todo)"
        (keyup.esc)="onCancelEdit(todo)" />
    </ng-template>
  </div>
  <div class="remove-item" (click)="onDeleteTodo(todo.id)">&times;</div>
</div>

<div class="extra-container">
  <div>
    <label><input type="checkbox" (change)="handleCheckAllTodos($event)" [(ngModel)]="!anyRemainingModel" />
      Check All</label>
  </div>
  <div>{{ remaining() }} items left</div>
</div>

<div class="extra-container">
  <div>
    <button class="button" [ngClass]="{ active: filter === 'all' }" (click)="filter = 'all'">
      All
    </button>
    <button class="button" [ngClass]="{ active: filter === 'active' }" (click)="filter = 'active'">
      Active
    </button>
    <button class="button" [ngClass]="{ active: filter === 'completed' }" (click)="filter = 'completed'">
      Completed
    </button>
  </div>

  <div *ngIf="isAtLeastOneCompleted()">
    <button class="button" (click)="onClearCompleted()">Clear Completed</button>
  </div>
</div>
